Repository vxcontrol/soldr-modules, pull requests merged in 2023-01, with the labels that each got.

#36 preserve actions list while getting them from callback data
  tests/file_remover_client_spec.lua
  utils/protocol/cmodule.lua
  utils/protocol/smodule.lua
Labels: documentation, tests

#43 Feature/improve protocol
  .luacheckrc
  file_remover/1.0.0/config/current_event_config.json
  file_remover/1.0.0/config/default_event_config.json
  file_remover/1.0.0/config/event_config_schema.json
  file_remover/1.0.0/config/info.json
  file_remover/1.0.0/config/locale.json
  tests/file_remover_server_spec.lua
  utils/mock/api.lua
  utils/mock/core.lua
  utils/protocol/cmodule.lua
  utils/protocol/protocol.lua
  utils/protocol/smodule.lua
Labels: enhancement

#38 fix importing luacov for tests running
  .gitignore
  tests_framework/lua/busted/modules/luacov.lua
  tests_framework/lua/luacov.lua
Labels: bug, tests
